

header {
    height: 50px;

}

.navbar-icons {
    float: right !important;
    text-decoration: none !important;
    display: inline-block;
}

.container-fluid {
    background-color: rgba(238, 238, 238, 0.8);
    padding-left: 10%;
    padding-right: 10%;
}

.gallery-title {
    font-size: 36px;
    color: #A5A5A5;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button {
    font-size: 18px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    text-align: center;
    color: #A5A5A5;
    margin-bottom: 30px;

}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid #A5A5A5;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #A5A5A5;

}
.btn-secondary:active .filter-button:active
{
    background-color: #A5A5A5;
    color: white;
}

.port-image {
    width: 100%;
}
#gallery {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px; 

}

#gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #gallery {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #gallery {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

/* Lightbox */
