/*field notes
class selector- full stop (".")
ID selector- hash character ("#").

*/
@font-face {
	font-family: Paintstrokes;
	src: url('fonts/Paintstrokes.otf');

}
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');

html, body {
	height: 100%;
	background-image: url("../websiteImages/IMG_8815.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	height: 100%;
}

#navStuff {
	position: relative;
}

/*Navbar Style*/
.cf-nav{
    background: #F9F9F9;   /* to change the color */
    opacity: 0.80;  /*navbar opacity*/ 
    border: 0px;
    border-radius: 0px;
    height: 50px;       /* to change the height */
    box-shadow: 0 2px 9px -6px #999;
	position: fixed;
	width: auto;
}

/* Brand Settings  */
.cf-nav .navbar-brand{
    color: #000000;
    font-family: 'Paintstrokes', Arial, sans-serif;
    font-weight: 350;
    letter-spacing: 5px;
    float: left;
}

/* Link Settings  */
.cf-nav .navbar-nav {
	margin-top: 0;
	display: inline-block;
	float: none !important;
}
.cf-nav .navbar-nav li a{
	font-family: 'Coming Soon', Arial !important;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}
.cf-nav .navbar-nav li a:hover{
    color:#A5A5A5;
}
.cf-nav .navbar-nav li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;

}
.cf-nav .navbar-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.cf-nav .navbar-toggle {

	font-family: 'Coming Soon', Arial !important;
    color: #333333;
    font-size: 13px;
    font-weight: 600;
    margin-top: 8px; 
    position: relative;
} 
.cf-nav .navbar-icons {
	float: right !important;
	}

.heroOpenPage {
	/*The background image.*/
	background-image: url("../websiteImages/alecHero.jpg");

	/*Centering and scaling the background image*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	height: 100%;
	margin: 75px;
	margin-top: 0;
	margin-bottom: 0;

}
/*Adding white outline to hero page*/

.inner-border {
	height: 100%;
	border: 2px solid white;
}

.hero-text {
	/*Positioning hero text*/
	
	text-align: center;
	font-family: 'Paintstrokes', Arial, sans-serif;
	text-shadow: -2px 3px 14px black;
	opacity: 0.70;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 78px;
}

.hero-button {
	top: 70%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-shadow: -2px 3px 14px black;
	opacity: 0.70;
	color: white;

}

.down-button {
	color: white;
	font-size: 100px;
}


h1 {
	text-align: center;
	font-family: 'Paintstrokes', Arial, sans-serif;
}
.container {
    background: rgba(54, 25, 25, .5);
}


/*About Me*/


.about {
	height: 100%;
	background-color: rgba(238, 238, 238, 0.8);
	position: relative;
	width: 89%;
	font-size: 20px;
	text-align: center;
	font-family: 'Coming Soon', Arial !important;
}

.about h1 {
	padding-top: 70px; /*corresponds with nav pixels*/
	padding-bottom: 50px;
	margin: 0px;
	font-size: 72px;
	text-align: center;
	/*font-family: 'Paintstrokes', Arial, sans-serif;*/
}
  
#aboutPicture {
	text-align: center;
}

#aboutDescription {
	font-size: 24px;
}
.bold-text {
	font-weight: bold;
}

.img-thumbnail {
	max-height: 600px;
	max-width: 240px;
	text-align: center;
}

@media (min-width: 1200px) {
  .img-thumbnail {
	position: relative;
	top: 20%;
	left: 20%;
	}
}

#process {
	background-color: rgba(238, 238, 238, 0.8);
	padding: 0;

}








