html, body {
	height: 100%;
}

@font-face {
	font-family: Paintstrokes;
	src: url('Paintstrokes.otf');
}

.heroOpenPage {
	/*The background image.*/
	background-image: url("http://gdurl.com/EVAq");

	/*Centering and scaling the background image*/
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	/*Full height of the page*/
	height: 100%;
}

.hero-text {
	/*Positioning hero text*/
	
	text-align: center;
	font-family: "Paintstrokes", Arial, sans-serif;
	text-shadow: -2px 3px 14px black;
	opacity: 0.70;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 75px;
}

h1 {
	text-align: center;
	font-family: 'Paintstrokes', Arial, sans-serif;
}

.navbar-brand {
	font-family: "Paintstrokes", Arial, sans-serif;
	display: inline-block;
	text-align: center;
}


.navbar-nav {
    display: inline-block;
    text-align: center;
}

#aboutDescription {
	padding: 20px 50px;
}
.carouselPaintings {
	width:100%;
}

.carousel-inner{
	width:100%;
	/*changes the height of carousel pictures*/
	max-height: 600px !important;
}


#contact {
	text-align: center;
}
 #contact a {
	text-decoration: none;
 }

/* a {
 	color: #686868;
 }
*/


#contact a::before, a::after {
	 	color: #686868;

}

footer {
	background-color: #A3A3A3;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: "Quicksand", Arial, sans-serif;
}






